<div class="container">

  <div class="page-header text-center">
    {{!-- <h3 class="page-name-s "><i  class="material-icons prefix font-size-icon-2r page-name-s vertical-align-b">info</i> О проекте </h3> --}}
    <h4 class="page-name-s"><span class="fa fa-info-circle"></span> О проекте </h4>
    <a href="/settings/profile" class="btn btn-default btn-sm"> Что-то </a> <br>
  </div>
  <p>
    Описание проекта
  </p>
</div>
